---
http_interactions:
- request:
    method: get
    uri: https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization=<CWB_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":"true","result":{"resource_id":"F-C0032-001","fields":[{"id":"datasetDescription","type":"String"},{"id":"locationName","type":"String"},{"id":"parameterName","type":"String"},{"id":"parameterValue","type":"String"},{"id":"parameterUnit","type":"String"},{"id":"startTime","type":"Timestamp"},{"id":"endTime","type":"Timestamp"}]},"records":{"datasetDescription":"三十六小時天氣預報","location":[{"locationName":"嘉義縣","weatherElement":[{"elementName":"Wx","time":[{"startTime":"2022-10-30
        18:00:00","endTime":"2022-10-31 06:00:00","parameter":{"parameterName":"陰時多雲","parameterValue":"6"}},{"startTime":"2022-10-31
        06:00:00","endTime":"2022-10-31 18:00:00","parameter":{"parameterName":"陰短暫陣雨","parameterValue":"11"}},{"startTime":"2022-10-31
        18:00:00","endTime":"2022-11-01 06:00:00","parameter":{"parameterName":"多雲時陰短暫陣雨","parameterValue":"9"}}]},{"elementName":"PoP","time":[{"startTime":"2022-10-30
        18:00:00","endTime":"2022-10-31 06:00:00","parameter":{"parameterName":"20","parameterUnit":"百分比"}},{"startTime":"2022-10-31
        06:00:00","endTime":"2022-10-31 18:00:00","parameter":{"parameterName":"60","parameterUnit":"百分比"}},{"startTime":"2022-10-31
        18:00:00","endTime":"2022-11-01 06:00:00","parameter":{"parameterName":"50","parameterUnit":"百分比"}}]},{"elementName":"MinT","time":[{"startTime":"2022-10-30
        18:00:00","endTime":"2022-10-31 06:00:00","parameter":{"parameterName":"23","parameterUnit":"C"}},{"startTime":"2022-10-31
        06:00:00","endTime":"2022-10-3[...]
- request:
    method: get
    uri: https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization=BAD_TOKEN
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: ASCII-8BIT
      string: '401 Forbidden: Authorization key is not correct.

        '
  recorded_at: Thu, 27 Oct 2022 14:07:53 GMT
- request:
    method: get
    uri: https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: ASCII-8BIT
      string: '401 Forbidden: Authorization key is not correct.

        '
  recorded_at: Sat, 05 Nov 2022 13:09:07 GMT
recorded_with: VCR 6.1.0
