---
http_interactions:
- request:
    method: get
    uri: https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization=<CWB_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":"true","result":{"resource_id":"F-C0032-001","fields":[{"id":"datasetDescription","type":"String"},{"id":"locationName","type":"String"},{"id":"parameterName","type":"String"},{"id":"parameterValue","type":"String"},{"id":"parameterUnit","type":"String"},{"id":"startTime","type":"Timestamp"},{"id":"endTime","type":"Timestamp"}]},"records":{"datasetDescription":"三十六小時天氣預報","location":[{"locationName":"嘉義縣","weatherElement":[{"elementName":"Wx","time":[{"startTime":"2022-11-24
        00:00:00","endTime":"2022-11-24 06:00:00","parameter":{"parameterName":"陰短暫雨","parameterValue":"11"}},{"startTime":"2022-11-24
        06:00:00","endTime":"2022-11-24 18:00:00","parameter":{"parameterName":"陰時多雲短暫雨","parameterValue":"10"}},{"startTime":"2022-11-24
        18:00:00","endTime":"2022-11-25 06:00:00","parameter":{"parameterName":"多雲時晴","parameterValue":"3"}}]},{"elementName":"PoP","time":[{"startTime":"2022-11-24
        00:00:00","endTime":"2022-11-24 06:00:00","parameter":{"parameterName":"40","parameterUnit":"百分比"}},{"startTime":"2022-11-24
        06:00:00","endTime":"2022-11-24 18:00:00","parameter":{"parameterName":"30","parameterUnit":"百分比"}},{"startTime":"2022-11-24
        18:00:00","endTime":"2022-11-25 06:00:00","parameter":{"parameterName":"20","parameterUnit":"百分比"}}]},{"elementName":"MinT","time":[{"startTime":"2022-11-24
        00:00:00","endTime":"2022-11-24 06:00:00","parameter":{"parameterName":"22","parameterUnit":"C"}},{"startTime":"2022-11-24
        06:00:00","endTime":"2022-11-2[...]
- request:
    method: get
    uri: https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-D0047-091?Authorization=<CWB_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":"true","result":{"resource_id":"F-D0047-091","fields":[{"id":"contentDescription","type":"String"},{"id":"datasetDescription","type":"String"},{"id":"locationsName","type":"String"},{"id":"dataid","type":"String"},{"id":"locationName","type":"String"},{"id":"geocode","type":"Double"},{"id":"lat","type":"Double"},{"id":"lon","type":"Double"},{"id":"elementName","type":"String"},{"id":"description","type":"String"},{"id":"startTime","type":"Timestamp"},{"id":"endTime","type":"Timestamp"},{"id":"dataTime","type":"Timestamp"},{"id":"value","type":"String"},{"id":"measures","type":"String"}]},"records":{"locations":[{"datasetDescription":"臺灣各縣市鄉鎮未來1週逐12小時天氣預報","locationsName":"台灣","dataid":"D0047-091","location":[{"locationName":"新竹縣","geocode":"10004000","lat":"24.841245","lon":"120.995698","weatherElement":[{"elementName":"PoP12h","description":"12小時降雨機率","time":[{"startTime":"2022-11-24
        00:00:00","endTime":"2022-11-24 06:00:00","elementValue":[{"value":"80","measures":"百分比"}]},{"startTime":"2022-11-24
        06:00:00","endTime":"2022-11-24 18:00:00","elementValue":[{"value":"80","measures":"百分比"}]},{"startTime":"2022-11-24
        18:00:00","endTime":"2022-11-25 06:00:00","elementValue":[{"value":"70","measures":"百分比"}]},{"startTime":"2022-11-25
        06:00:00","endTime":"2022-11-25 18:00:00","elementValue":[{"value":"80","measures":"百分比"}]},{"startTime":"2022-11-25
        18:00:00","endTime":"2022-11-26 06:00:00","elementValue":[{"value":"50","measures":[...]
- request:
    method: get
    uri: https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization=BAD_TOKEN
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: ASCII-8BIT
      string: '401 Forbidden: Authorization key is not correct.

        '
  recorded_at: Wed, 23 Nov 2022 17:48:50 GMT
recorded_with: VCR 6.1.0
