---
http_interactions:
- request:
    method: get
    uri: https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization=BAD_TOKEN
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: ASCII-8BIT
      string: '401 Forbidden: Authorization key is not correct.

        '
  recorded_at: Sat, 12 Nov 2022 18:59:47 GMT
- request:
    method: get
    uri: https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization=<CWB_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":"true","result":{"resource_id":"F-C0032-001","fields":[{"id":"datasetDescription","type":"String"},{"id":"locationName","type":"String"},{"id":"parameterName","type":"String"},{"id":"parameterValue","type":"String"},{"id":"parameterUnit","type":"String"},{"id":"startTime","type":"Timestamp"},{"id":"endTime","type":"Timestamp"}]},"records":{"datasetDescription":"三十六小時天氣預報","location":[{"locationName":"嘉義縣","weatherElement":[{"elementName":"Wx","time":[{"startTime":"2022-11-13
        00:00:00","endTime":"2022-11-13 06:00:00","parameter":{"parameterName":"多雲","parameterValue":"4"}},{"startTime":"2022-11-13
        06:00:00","endTime":"2022-11-13 18:00:00","parameter":{"parameterName":"晴時多雲","parameterValue":"2"}},{"startTime":"2022-11-13
        18:00:00","endTime":"2022-11-14 06:00:00","parameter":{"parameterName":"晴時多雲","parameterValue":"2"}}]},{"elementName":"PoP","time":[{"startTime":"2022-11-13
        00:00:00","endTime":"2022-11-13 06:00:00","parameter":{"parameterName":"10","parameterUnit":"百分比"}},{"startTime":"2022-11-13
        06:00:00","endTime":"2022-11-13 18:00:00","parameter":{"parameterName":"0","parameterUnit":"百分比"}},{"startTime":"2022-11-13
        18:00:00","endTime":"2022-11-14 06:00:00","parameter":{"parameterName":"0","parameterUnit":"百分比"}}]},{"elementName":"MinT","time":[{"startTime":"2022-11-13
        00:00:00","endTime":"2022-11-13 06:00:00","parameter":{"parameterName":"22","parameterUnit":"C"}},{"startTime":"2022-11-13
        06:00:00","endTime":"2022-11-13 [...]
