---
http_interactions:
- request:
    method: get
    uri: https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization=<CWB_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":"true","result":{"resource_id":"F-C0032-001","fields":[{"id":"datasetDescription","type":"String"},{"id":"locationName","type":"String"},{"id":"parameterName","type":"String"},{"id":"parameterValue","type":"String"},{"id":"parameterUnit","type":"String"},{"id":"startTime","type":"Timestamp"},{"id":"endTime","type":"Timestamp"}]},"records":{"datasetDescription":"三十六小時天氣預報","location":[{"locationName":"嘉義縣","weatherElement":[{"elementName":"Wx","time":[{"startTime":"2022-10-17
        18:00:00","endTime":"2022-10-18 06:00:00","parameter":{"parameterName":"多雲時陰","parameterValue":"5"}},{"startTime":"2022-10-18
        06:00:00","endTime":"2022-10-18 18:00:00","parameter":{"parameterName":"多雲","parameterValue":"4"}},{"startTime":"2022-10-18
        18:00:00","endTime":"2022-10-19 06:00:00","parameter":{"parameterName":"晴時多雲","parameterValue":"2"}}]},{"elementName":"PoP","time":[{"startTime":"2022-10-17
        18:00:00","endTime":"2022-10-18 06:00:00","parameter":{"parameterName":"20","parameterUnit":"百分比"}},{"startTime":"2022-10-18
        06:00:00","endTime":"2022-10-18 18:00:00","parameter":{"parameterName":"10","parameterUnit":"百分比"}},{"startTime":"2022-10-18
        18:00:00","endTime":"2022-10-19 06:00:00","parameter":{"parameterName":"10","parameterUnit":"百分比"}}]},{"elementName":"MinT","time":[{"startTime":"2022-10-17
        18:00:00","endTime":"2022-10-18 06:00:00","parameter":{"parameterName":"21","parameterUnit":"C"}},{"startTime":"2022-10-18
        06:00:00","endTime":"2022-10-1[...]
- request:
    method: get
    uri: https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization=BAD_TOKEN
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: ASCII-8BIT
      string: '401 Forbidden: Authorization key is not correct.

        '
  recorded_at: Mon, 17 Oct 2022 13:38:30 GMT
recorded_with: VCR 6.1.0
